/* fixing materialize CSS search bar bug */
#searchBar {
    margin: -1rem;
}
.input-field input[type=search] { 
    position: relative;
    height: 64px !important; 
}
#closeSearchBtn {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)
}
#search-icon {
    padding: 1rem;
    margin-top: 0.3rem;
}

/****** SPA Navigation **********/

#searchPage,
#nominatedPage {
    display: none;
}

#searchPage.active,
#nominatedPage.active {
    display: block;
}

.card-title:first-child {
    font-weight: bold;
}

.card img {
    min-height: 40vh;
    object-fit: cover;      
    width: 100vw;
    position: relative;
}

.movie-container {
    padding: 2rem;
}
